    <!--About us Section -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-header">
                <h2>About Us</h2>
                <p class="subtitle">ProManaged IT delivers cutting-edge technology with personalized solutions to
                    simplify your IT experience.</p>
            </div>
            <div class="about-content">
                <div class="about-icons">
                    <div class="icon"><i class="fas fa-cloud"></i></div>
                    <div class="icon"><i class="fas fa-server"></i></div>
                    <div class="icon"><i class="fas fa-code"></i></div>
                    <div class="icon"><i class="fas fa-shield-alt"></i></div>
                </div>
                <div class="about-text">
                    <p>We specialize in IT solutions tailored to your needs, from network setups to custom-built
                        websites. Our mission is to create seamless technology experiences for individuals and
                        businesses alike.</p>
                </div>
            </div>
        </div>
    </section>